{% extends "layouts/base.html" %}
{% block title %}All Projects{% endblock %}
{% block content %}
    <div class="container">
        <div class="d-flex justify-content-between my-4">
            <h1 style="color:#4F4557">All Projects</h1>
            <a href="{% url 'createProject' %}" class="btn float-end" style="background-color: #4F4557;color:white;height:40px ">Add new project</a>
        </div>

        <div class="row">
            {% for project in projects %}
            <div class="col-md-4 mb-4">
                <div class="card" style="height: 550px;">

                      <div id="carousel_{{ project.id }}" class="carousel slide" data-ride="carousel" style="height: 350px;">
                         <div class="carousel-inner">
                        {% for image in project.images_set.all %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img height="350px" class="d-block w-100" src="{{ image.img.url }}" alt="Slide">
                        </div>
                        {% empty %}
                        <p><h5>No Images for this project yet.</h5></p>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carousel_{{ project.id }}" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel_{{ project.id }}" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div class="card-body text-center">
                        <h5 class="card-title">Project Title: {{ project.project_title }}</h5>
                        <p class="card-text">Description: {{ project.project_details }}</p>

                       <a href="{% url 'projectDetails' project.id %}" class="btn"style="background-color: #4F4557;color:white ">More Details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>



{% endblock %}