{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    {% if not project.is_reported %}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card mb-4">
                <div class="card-body">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            {% for image in data.images_set.all %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img class="d-block w-100" src="{{ image.img.url }}" alt="Project Image">
                            </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                           data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                           data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <h3 class="card-title">{{ data.project_title }}</h3>
                    <p class="card-text">{{ data.project_details }}</p>
                    <p class="card-text">
                        <strong>Start:</strong> {{ data.start_time }}
                        <strong>End:</strong> {{ data.end_time }}
                    </p>
                    <p class="card-text">
                        <strong>Target:</strong> {{ data.total_target }}
                    </p>
                    <tr>
                        <td colspan="2"><h3>Project Category:</h3></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <li>{{category.name}}</li>
                            </h2></td>
                        <h3>Project Tags:</h3>

                        <br/>

                        <ul>
                            {% for tag in data.tags.all %}
                            <li>{{ tag.tag_name }}</li>
                            {% endfor %}
                        </ul>


                        <br/>


                        <p class="card-text">
                            <strong>Total Donations:</strong> {{ total_donate.amount__sum }} LE
                        </p>
                        <form action="/projects/donation/add" method="post">
                            {% csrf_token %}
                            <label for="">Donation for the project</label>
                            <input type="hidden" name="id" value="{{ data.id }}">
                            <input type="hidden" name="user_id" value="1">
                            <input type="number" min="1" name="amount" class="form-control">
                            <button type="submit" class="btn btn-primary mt-4" style="background: #00e2ba; border:none">
                                Send Donate
                            </button>
                        </form>
                        <div class="row m-4">
                            {% load mathfilters %}
                            <h3>Project Rates: {{ rate_sum.rate__sum|div:rate_count.rate__count|mul:10 }}%</h3>
                        </div>
                        <form action="/projects/rate" method="post">
                            {% csrf_token %}
                            <label for="rate">Rate this project</label>
                            <input type="hidden" name="id" value="{{ data.id }}">
                            <input type="hidden" name="user_id" value="1">
                            <input type="number" min="0" name="rate" max="10" class="form-control">
                            <button type="submit" class="btn btn-primary mt-4" style="background: #00e2ba; border:none">
                                Rate
                            </button>
                        </form>
                </div>
                <h3 class="m-4">Comments</h3>
{% for comment in data.comment_set.all %}
    {% if not comment.is_reported %}
        <div class="card my-3">
            <div class="card-body">
                {% if comment.user.profile.profile_picture %}
                    <img id="profile_picture" src="{{ comment.user.profile.profile_picture.url }}" class="rounded-circle" style="width:50px ;hieght:50px"/>
                {% else %}
                    <img id="profile_picture" src="{% static 'user_projects/images/profile1.jpg' %}" class="rounded-circle" style="width:50px ;hieght:50px"/>
                {% endif %}
                <h5 class="card-title">{{ comment.user.first_name}} {{comment.user.last_name}}</h5>
                <p class="card-text">{{ comment.content }}</p>
                {% for reply in comment.replies.all %}
                    <div class="card my-3 ml-4">
                        <div class="card-body">
                            <h5 class="card-title">{{ reply.user.first_name}} {{reply.user.last_name}}</h5>
                            <p class="card-text">{{ reply.content }}</p>
                        </div>
                    </div>
                {% empty %}
                    <p>No replies yet.</p>
                {% endfor %}
                <form action="/projects/comment/replay" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="comment_id" value="{{ comment.id }}">
                    <input type="hidden" name="id" value="{{ data.id }}">
                    <div class="form-group mt-2">
                        <textarea name="content" class="form-control" rows="3" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Reply</button>
                </form>
                <form action="/projects/comment/report" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{comment.id}}" />
                    <button type="submit" class="btn btn-danger mt-2" >ReportComment</button>
                </form>
            </div>
        </div>
    {% endif %}
{% endfor %}

                <form action="/projects/comments/add" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="content">Comment</label>
                        <textarea class="form-control" name="content" rows="3"></textarea>
                    </div>
                    <input type="hidden" name="id" value="{{ data.id }}">
                    <button type="submit" class="btn btn-primary">Add Comment</button>
                </form>

            </div>
            {% if data.total_target|sub:total_donate.amount__sum > data.total_target|div:4 %}

            <form id="delete-form" action="/projects/project/delete/{{ data.id }}" method="post">
                {% csrf_token %}
                <input type="hidden" name="project_id" value="{{ data.id }}"/>
                <button type="button" id="delete-btn" class="btn btn-danger mt-2">Cancel Project</button>
            </form>
            {% endif %}
            <form action="/projects/project/report" method="POST">
                {%csrf_token%}
                <input type="hidden" name="id" value="{{data.id}}"/>
                <button type="submit" class="btn btn-danger mt-2">ReportProject</button>
            </form>


        </div>
    </div>


</div>

<h1 class="subTitle" style="text-align:center"> Related Projects</h1>
<div class="row">
    {% for data in relatedProjects %}
    {% if forloop.counter < 5 %}
    {% if data.id != project.data.id %}
    <div class="col-md-3 mt-5">
        <div class="card cardDes">
            <div id="carouselExampleControls{{ forloop.counter }}" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {% for image in data.images_set.all %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img class="d-block w-100" src="{{ image.img.url }}" alt="Project Image">
                    </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls{{ forloop.counter }}" role="button"
                   data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls{{ forloop.counter }}" role="button"
                   data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{data.project_title }}</h5>
                <p class="card-text desc">{{data.project_details }}</p>
                <h3>Project Tags:</h3>
                <br/>
                <ul>
                    {% for tag in data.tags.all %}
                    <li>{{ tag.tag_name }}</li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>
    {% endif %}
    {% endif %}
    {% endfor %}
</div>
{% else %}
<p>This project has been reported and is currently not available.</p>
{% endif %}


<script>
document.getElementById('delete-btn').addEventListener('click', function() {
    Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Yes, delete it!'
    }).then((result) => {
        if (result.isConfirmed) {
            document.getElementById('delete-form').submit();
        }
    });
});

</script>
{% endblock %}






































