{% extends 'user_projects/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    {% if not project.is_reported %}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">{{ data.project_title }}</h3>
                    <p class="card-text">{{ data.project_details }}</p>
                    <p class="card-text">
                        <strong>Start:</strong> {{ data.start_time }}
                        <strong>End:</strong> {{ data.end_time }}
                    </p>
                    <p class="card-text">
                        <strong>Target:</strong> {{ data.total_target }}
                    </p>
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            {% for image in data.images_set.all %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img class="d-block w-100" src="{{ image.img.url }}" alt="Project Image">
                            </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <p class="card-text">
                        <strong>Total Donations:</strong> {{ total_donate.amount__sum }} LE
                    </p>
                    <form action="/projects/donation/add" method="post">
                        {% csrf_token %}
                        <label for="">Donation for the project</label>
                        <input type="hidden" name="id" value="{{ data.id }}">
                        <input type="hidden" name="user_id" value="1">
                        <input type="number" min="1" name="amount" class="form-control">
                        <button type="submit" class="btn btn-primary mt-4" style="background: #00e2ba; border:none">Send Donate</button>
                    </form>
                    <div class="row m-4">
								 {% load mathfilters %}
                        <h3>Project Rates: {{ rate_sum.rate__sum|div:rate_count.rate__count|mul:10 }}%</h3>
                    </div>
                        <form action="/projects/rate" method="post">
                            {% csrf_token %}
                            <label for="rate">Rate this project</label>
                            <input type="hidden" name="id" value="{{ data.id }}">
                            <input type="hidden" name="user_id" value="1">
                            <input type="number" min="0" name="rate" max="10" class="form-control">
                            <button type="submit"class="btn btn-primary mt-4" style="background: #00e2ba; border:none" >Rate</button>
                        </form>
                    </div>
                    <h3 class="m-4">Comments</h3>
                {% for comment in data.comment_set.all %}
                 {% if not comment.is_reported %}
                        <div class="card my-3">
                          <div class="card-body">
                              {% if comment.user.profile.profile_picture %}
                              <img id="profile_picture" src="{{ comment.user.profile.profile_picture.url }}" class="rounded-circle" style="width:50px ;hieght:50px"/>
                              {% else %}
                           <img id="profile_picture" src="{% static 'user_projects/images/profile1.jpg' %}" class="rounded-circle" style="width:50px ;hieght:50px"/>

                  {% endif %}

        <h5 class="card-title">{{ comment.user.first_name}} {{comment.user.last_name}}</h5>
        <p class="card-text">{{ comment.content }}</p>
                <form action="/comment/reply" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="comment_id" value="{{ comment.id }}">
                  <input type="hidden" name="project_id" value="{{ data.id }}">

                  <textarea name="content" class="form-control" rows="3" required></textarea>
                  <button type="submit" class="btn btn-primary mt-2">Reply</button>
                </form>
                     <form action="/projects/comment/report" method="POST">
                    {% csrf_token %}
                         <input type="hidden" name="id" value="{{comment.id}}" />
                        <button type="submit" class="btn btn-danger mt-4" >ReportComment</button>
                     </form>
              </div>
            </div>
        {% endif %}
{% endfor %}

                    <form action="/projects/comments/add" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="content">Comment</label>
                            <textarea class="form-control" name="content" rows="3"></textarea>
                        </div>
                        <input type="hidden" name="id" value="{{ data.id }}">
                        <button type="submit" class="btn btn-primary">Add Comment</button>
                    </form>

                </div>
				<form action="/projects/project/report" method="POST">
                  {%csrf_token%}
                <input type="hidden" name="id" value="{{data.id}}"/>
                <button type="submit" class="btn btn-danger mt-2">ReportProject</button>
               </form>

            </div>
        </div>
    </div>
</div>
{% else %}
<p>This project has been reported and is currently not available.</p>
{% endif %}
{% endblock %}








































