<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <h1>hello</h1>
  <div class="carousel-inner">
    <div class="carousel-item active">



    </div>
    <div class="carousel-item">

	<div class="container">
		<div class="row mt-5">
			<div class="col-md-6 offset-md-3 col-sm-6 offset-sm-3 col-12 comments-main pt-4 rounded">
				<ul class="p-0">
					<li>
						<div class="row comments mb-2">
							<div class="col-md-2 col-sm-2 col-3 text-center user-img">
						    	<img id="profile-photo" src="http://nicesnippets.com/demo/man01.png" class="rounded-circle" />
							</div>
							<div class="col-md-9 col-sm-9 col-9 comment rounded mb-2">
								<h4 class="m-0"><a href="#">Jacks David</a></h4>
							    <time class="text-white ml-3">1 hours ago</time>
							    <like></like>
							    <p class="mb-0 text-white">Thank you for visiting all the way from New York.</p>
							</div>
						</div>
					</li>
					<ul class="p-0">
						<li>
							<div class="row comments mb-2">
								<div class="col-md-2 offset-md-2 col-sm-2 offset-sm-2 col-3 offset-1 text-center user-img">
							    	<img id="profile-photo" src="http://nicesnippets.com/demo/man02.png" class="rounded-circle" />
								</div>
								<div class="col-md-7 col-sm-7 col-8 comment rounded mb-2">
									<h4 class="m-0"><a href="#">Steve Alex</a></h4>
								    <time class="text-white ml-3">1 week ago</time>
								    <like></like>
								    <p class="mb-0 text-white">Thank you for visiting all the way from NYC.</p>
								</div>
							</div>
						</li>
					</ul>
				</ul>
				<ul class="p-0">
					<li>
						<div class="row comments mb-2">
							<div class="col-md-2 col-sm-2 col-3 text-center user-img">
						    	<img id="profile-photo" src="http://nicesnippets.com/demo/man03.png" class="rounded-circle" />
							</div>
							<div class="col-md-9 col-sm-9 col-9 comment rounded mb-2">
								<h4 class="m-0"><a href="#">Andrew Filander</a></h4>
							    <time class="text-white ml-3">7 day ago</time>
							    <like></like>
							    <p class="mb-0 text-white">Thank you for visiting all the way from New York.</p>
							</div>
						</div>
					</li>
					<ul class="p-0">
						<li>
							<div class="row comments mb-2">
								<div class="col-md-2 offset-md-2 col-sm-2 offset-sm-2 col-3 offset-1 text-center user-img">
							    	<img id="profile-photo" src="http://nicesnippets.com/demo/man04.png" class="rounded-circle" />
								</div>
								<div class="col-md-7 col-sm-7 col-8 comment rounded mb-2">
									<h4 class="m-0"><a href="#">james Cordon</a></h4>
								    <time class="text-white ml-3">1 min ago</time>
								    <like></like>
								    <p class="mb-0 text-white">Thank you for visiting from an unknown location.</p>
								</div>
							</div>
						</li>
					</ul>
				</ul>
				<ul class="p-0">
					<li>
						<div class="row comments mb-2">
							<div class="col-md-2 col-sm-2 col-3 text-center user-img">
						    	<img id="profile-photo" src="http://nicesnippets.com/demo/man01.png" class="rounded-circle" />
							</div>
							<div class="col-md-9 col-sm-9 col-9 comment rounded mb-2">
								<h4 class="m-0"><a href="#">Tye Simmon</a></h4>
							    <time class="text-white ml-3">1 month ago</time>
							    <like></like>
							    <p class="mb-0 text-white">Thank you for visiting all the way from New York.</p>
							</div>
						</div>
					</li>
				</ul>
				<div class="row comment-box-main p-3 rounded-bottom">
			  		<div class="col-md-9 col-sm-9 col-9 pr-0 comment-box">
					  <input type="text" class="form-control" placeholder="comment ...." />
			  		</div>
			  		<div class="col-md-3 col-sm-2 col-2 pl-0 text-center send-btn">
			  			<button class="btn btn-info">Send</button>
			  		</div>
				</div>
			</div>
		</div>
	</div>
    </div>
    <div class="carousel-item">


	<div class="container">
		<div class="row mt-5">
			<div class="col-md-6 offset-md-3 col-sm-6 offset-sm-3 col-12 comments-main pt-4 rounded">
				<ul class="p-0">
					<li>
						<div class="row comments mb-2">
							<div class="col-md-2 col-sm-2 col-3 text-center user-img">
						    	<img id="profile-photo" src="http://nicesnippets.com/demo/man01.png" class="rounded-circle" />
							</div>
							<div class="col-md-9 col-sm-9 col-9 comment rounded mb-2">
								<h4 class="m-0"><a href="#">Jacks David</a></h4>
							    <time class="text-white ml-3">1 hours ago</time>
							    <like></like>
							    <p class="mb-0 text-white">Thank you for visiting all the way from New York.</p>
							</div>
						</div>
					</li>
					<ul class="p-0">
						<li>
							<div class="row comments mb-2">
								<div class="col-md-2 offset-md-2 col-sm-2 offset-sm-2 col-3 offset-1 text-center user-img">
							    	<img id="profile-photo" src="http://nicesnippets.com/demo/man02.png" class="rounded-circle" />
								</div>
								<div class="col-md-7 col-sm-7 col-8 comment rounded mb-2">
									<h4 class="m-0"><a href="#">Steve Alex</a></h4>
								    <time class="text-white ml-3">1 week ago</time>
								    <like></like>
								    <p class="mb-0 text-white">Thank you for visiting all the way from NYC.</p>
								</div>
							</div>
						</li>
					</ul>
				</ul>
				<ul class="p-0">
					<li>
						<div class="row comments mb-2">
							<div class="col-md-2 col-sm-2 col-3 text-center user-img">
						    	<img id="profile-photo" src="http://nicesnippets.com/demo/man03.png" class="rounded-circle" />
							</div>
							<div class="col-md-9 col-sm-9 col-9 comment rounded mb-2">
								<h4 class="m-0"><a href="#">Andrew Filander</a></h4>
							    <time class="text-white ml-3">7 day ago</time>
							    <like></like>
							    <p class="mb-0 text-white">Thank you for visiting all the way from New York.</p>
							</div>
						</div>
					</li>
					<ul class="p-0">
						<li>
							<div class="row comments mb-2">
								<div class="col-md-2 offset-md-2 col-sm-2 offset-sm-2 col-3 offset-1 text-center user-img">
							    	<img id="profile-photo" src="http://nicesnippets.com/demo/man04.png" class="rounded-circle" />
								</div>
								<div class="col-md-7 col-sm-7 col-8 comment rounded mb-2">
									<h4 class="m-0"><a href="#">james Cordon</a></h4>
								    <time class="text-white ml-3">1 min ago</time>
								    <like></like>
								    <p class="mb-0 text-white">Thank you for visiting from an unknown location.</p>
								</div>
							</div>
						</li>
					</ul>
				</ul>
				<ul class="p-0">
					<li>
						<div class="row comments mb-2">
							<div class="col-md-2 col-sm-2 col-3 text-center user-img">
						    	<img id="profile-photo" src="http://nicesnippets.com/demo/man01.png" class="rounded-circle" />
							</div>
							<div class="col-md-9 col-sm-9 col-9 comment rounded mb-2">
								<h4 class="m-0"><a href="#">Tye Simmon</a></h4>
							    <time class="text-white ml-3">1 month ago</time>
							    <like></like>
							    <p class="mb-0 text-white">Thank you for visiting all the way from New York.</p>
							</div>
						</div>
					</li>
				</ul>
				<div class="row comment-box-main p-3 rounded-bottom">
			  		<div class="col-md-9 col-sm-9 col-9 pr-0 comment-box">
					  <input type="text" class="form-control" placeholder="comment ...." />
			  		</div>
			  		<div class="col-md-3 col-sm-2 col-2 pl-0 text-center send-btn">
			  			<button class="btn btn-info">Send</button>
			  		</div>
				</div>
			</div>
		</div>
	</div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>































{% extends 'user_projects/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">{{ data.project_title }}</h3>
                    <p class="card-text">{{ data.project_details }}</p>
                    <p class="card-text">
                        <strong>Start:</strong> {{ data.start_time }}
                        <strong>End:</strong> {{ data.end_time }}
                    </p>
                    <p class="card-text">
                        <strong>Target:</strong> {{ data.total_target }}
                    </p>
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            {% for image in data.images_set.all %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img class="d-block w-100" src="{{ image.img.url }}" alt="Project Image">
                            </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <p class="card-text">
                        <strong>Total Donations:</strong> {{ total_donate.amount__sum }} LE
                    </p>
                    <form action="/projects/donation/add" method="post">
                        {% csrf_token %}
                        <label for="">Donation for the project</label>
                        <input type="hidden" name="id" value="{{ data.id }}">
                        <input type="hidden" name="user_id" value="1">
                        <input type="number" min="1" name="amount" class="form-control">
                        <button type="submit">Send Donate</button>
                    </form>
                    <div class="row m-5">
                        <h3>Project Rates: {{ rate_sum.rate__sum|div:rate_count.rate__count|mul:10 }}%</h3>
                        <form action="/projects/rate" method="post">
                            {% csrf_token %}
                            <label for="rate">Rate this project</label>
                            <input type="hidden" name="id" value="{{ data.id }}">
                            <input type="hidden" name="user_id" value="1">
                            <input type="number" min="0" name="rate" max="10" class="form-control">
                            <button type="submit">Rate</button>
                        </form>
                    </div>
                    <h3>Comments</h3>
                    {% for comment in data.comment_set.all %}
                    <div class="card mb-2">
                        <div class="card-body">
                            <h5 class="card-title">{{ comment.user_id.f_name }} {{ comment.user_id.l_name }}</h5>
                            <p class="card-text">{{ comment.content }}</p>
                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#mymodal{{ comment.id }}">Reply</a>
                            <div class="modal" id="mymodal{{ comment.id }}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Reply to comment</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="/comments/reply" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                                <input type="hidden" name="project_id" value="{{ data.id }}">
                                                <input type="hidden" name="user_id" value="1">
                                                <div class="form-group">
                                                    <label for="content">Content</label>
                                                    <textarea class="form-control" name="content" rows="3"></textarea>
                                                </div>
                                                <button type="submit" class="btn btn-primary">Reply</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <form action="/projects/comments/add" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="content">Comment</label>
                            <textarea class="form-control" name="content" rows="3"></textarea>
                        </div>
                        <input type="hidden" name="id" value="{{ data.id }}">
                        <button type="submit" class="btn btn-primary">Add Comment</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% extends 'user_projects/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">{{ data.project_title }}</h3>
                    <p class="card-text">{{ data.project_details }}</p>
                    <p class="card-text">
                        <strong>Start:</strong> {{ data.start_time }}
                        <strong>End:</strong> {{ data.end_time }}
                    </p>
                    <p class="card-text">
                        <strong>Target:</strong> {{ data.total_target }}
                    </p>
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            {% for image in data.images_set.all %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img class="d-block w-100" src="{{ image.img.url }}" alt="Project Image">
                            </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <p class="card-text">
                        <strong>Total Donations:</strong> {{ total_donate.amount__sum }} LE
                    </p>
                    <form action="/projects/donation/add" method="post">
                        {% csrf_token %}
                        <label for="">Donation for the project</label>
                        <input type="hidden" name="id" value="{{ data.id }}">
                        <input type="hidden" name="user_id" value="1">
                        <input type="number" min="1" name="amount" class="form-control">
                        <button type="submit">Send Donate</button>
                    </form>
                    <div class="row m-5">
                        <h3>Project Rates: {{ rate_sum.rate__sum|div:rate_count.rate__count|mul:10 }}%</h3>
                        <form action="/projects/rate" method="post">
                            {% csrf_token %}
                            <label for="rate">Rate this project</label>
                            <input type="hidden" name="id" value="{{ data.id }}">
                            <input type="hidden" name="user_id" value="1">
                            <input type="number" min="0" name="rate" max="10" class="form-control">
                            <button type="submit">Rate</button>
                        </form>
                    </div>
                    <h3>Comments</h3>
                    {% for comment in data.comment_set.all %}
                    <div class="card mb-2">
                        <div class="card-body">
                            <h5 class="card-title">{{ comment.user_id.f_name }} {{ comment.user_id.l_name }}</h5>
                            <p class="card-text">{{ comment.content }}</p>
                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#mymodal{{ comment.id }}">Reply</a>
                            <div class="modal" id="mymodal{{ comment.id }}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Reply to comment</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="/comments/reply" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                                <input type="hidden" name="project_id" value="{{ data.id }}">
                                                <input type="hidden" name="user_id" value="1">
                                                <div class="form-group">
                                                    <label for="content">Content</label>
                                                    <textarea class="form-control" name="content" rows="3"></textarea>
                                                </div>
                                                <button type="submit" class="btn btn-primary">Reply</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <form action="/projects/comments/add" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="content">Comment</label>
                            <textarea class="form-control" name="content" rows="3"></textarea>
                        </div>
                        <input type="hidden" name="id" value="{{ data.id }}">
                        <button type="submit" class="btn btn-primary">Add Comment</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% extends 'user_projects/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">{{ data.project_title }}</h3>
                    <p class="card-text">{{ data.project_details }}</p>
                    <p class="card-text">
                        <strong>Start:</strong> {{ data.start_time }}
                        <strong>End:</strong> {{ data.end_time }}
                    </p>
                    <p class="card-text">
                        <strong>Target:</strong> {{ data.total_target }}
                    </p>
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            {% for image in data.images_set.all %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img class="d-block w-100" src="{{ image.img.url }}" alt="Project Image">
                            </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <p class="card-text">
                        <strong>Total Donations:</strong> {{ total_donate.amount__sum }} LE
                    </p>
                    <form action="/projects/donation/add" method="post">
                        {% csrf_token %}
                        <label for="">Donation for the project</label>
                        <input type="hidden" name="id" value="{{ data.id }}">
                        <input type="hidden" name="user_id" value="1">
                        <input type="number" min="1" name="amount" class="form-control">
                        <button type="submit">Send Donate</button>
                    </form>
                    <div class="row m-5">
                        <h3>Project Rates: {{ rate_sum.rate__sum|div:rate_count.rate__count|mul:10 }}%</h3>
                        <form action="/projects/rate" method="post">
                            {% csrf_token %}
                            <label for="rate">Rate this project</label>
                            <input type="hidden" name="id" value="{{ data.id }}">
                            <input type="hidden" name="user_id" value="1">
                            <input type="number" min="0" name="rate" max="10" class="form-control">
                            <button type="submit">Rate</button>
                        </form>
                    </div>
                    <h3>Comments</h3>
                    {% for comment in data.comment_set.all %}
                    <div class="card mb-2">
                        <div class="card-body">
                            <h5 class="card-title">{{ comment.user_id.f_name }} {{ comment.user_id.l_name }}</h5>
                            <p class="card-text">{{ comment.content }}</p>
                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#mymodal{{ comment.id }}">Reply</a>
                            <div class="modal" id="mymodal{{ comment.id }}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Reply to comment</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="/comments/reply" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                                <input type="hidden" name="project_id" value="{{ data.id }}">
                                                <input type="hidden" name="user_id" value="1">
                                                <div class="form-group">
                                                    <label for="content">Content</label>
                                                    <textarea class="form-control" name="content" rows="3"></textarea>
                                                </div>
                                                <button type="submit" class="btn btn-primary">Reply</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <form action="/projects/comments/add" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="content">Comment</label>
                            <textarea class="form-control" name="content" rows="3"></textarea>
                        </div>
                        <input type="hidden" name="id" value="{{ data.id }}">
                        <button type="submit" class="btn btn-primary">Add Comment</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{%extends 'user_projects/slider.html'%}
{% block slider %}
<div class="container">
		<div class="row ">
			<div class="col-md-10 offset-md-3 col-sm-6 offset-sm-3 col-12 comments-main pt-4 rounded">

                <table style="align:center" class="table table-dark text-center">

                                  <tbody class="text-center">
                                  <tr>
                                      <td colspan="2"> <h3>Project Title:</h3></td>
                                  </tr>
                                  <tr> <td colspan="2"><h2>{{data.project_title}}</h2></h2></td></tr>
                                   <td colspan="2"> <h3>Project Details:</h3></td>
                                    </tr>
                                  <tr>
                                      <td colspan="2"> <p>{{data.project_details}}</p></td>
                                  </tr>
                                  <tr>
                                      <td>Strat:{{data.start_time}}</td>
                                      <td>End:{{data.end_time}}</td>
                                  </tr>
<!--                                  -->
                                    <tr>
                                      <td colspan="2"> <h3>Project Target:</h3></td>
                                  </tr>
                                  <tr> <td colspan="2"><h2>{{data.total_target}}</h2></h2></td></tr>
                                  <tr>
                                      <td colspan="2">
                                            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">


                                                        <div class="carousel-inner">
                                                          <div class="carousel-item active">

                                                        </div>
                                                        {% for image in data.images_set.all %}

                                                         <div class="carousel-item ">
                                                          <img class="d-block w-100" src="{{image.img.url}}" alt="Second slide">
                                                        </div>
                                                        {% endfor %}


                                              </div>
                                              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Previous</span>
                                              </a>
                                              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Next</span>
                                              </a>
                                            </div>
                                      </td>
                                  </tr>
								     <tr>
										<td>Project All Donations:</td>
										<td><h3> {{ total_donate.amount__sum }} LE</h3></td>

									 </tr>
								    <tr>

										<td colspan="2">
											    <form action="/projects/donation/add" method="post">
													{% csrf_token %}
													<label for="">Donation for the project</label>
													<input
														type="hidden"
														name="id"
														value="{{data.id}}"
													/>

													<input type="hidden" name="user_id" value="1" />

													<input type="number" min="1" name="amount" class="form-control" />
													<button type="submit">Send Donate</button>
												</form>
										</td>

									 </tr>
									<tr>
										<td colspan="2">
											    <div class="row m-5">
													 {% load mathfilters %}
														<h3>
															Project Rates:{{ rate_sum.rate__sum|div:rate_count.rate__count|mul:10}}
															%
														</h3>

															<form action="/projects/rate" method="post">
																{% csrf_token %}
																<label for="rate">Rate this project</label>
																<input
																	type="hidden"
																	name="id"
																	value="{{data.id}}"
																/>

																<input type="hidden" name="user_id" value="1" />

																<input
																	type="number"
																	min="0"
																	name="rate"
																	max="10"
																	class="form-control"
																/>
																<button type="submit">Rate</button>
															</form>
														</div>


										</td>
									</tr>


<!--                                  -->
                                  <tr>
                                      <td colspan="2"> <h3>Project Category:</h3></td>
                                  </tr>
                                  <tr> <td colspan="2"><h2>{{category.name}}</h2></h2></td></tr>
<!--                                  -->
<!-- {% for comment in data.comment_set.all %}-->
<!--            <li>-->
<!--                {{comment.comment_content}}-->
<!--                <ul>-->
<!--                    {% for reply in comment.subcomment_set.all %}-->
<!--                    <li>{{reply.comment_content}}</li>-->
<!--                    {% endfor %}-->
<!--                </ul>-->
<!--                <form action="/comments/reply" method="post" class="m-5">-->
<!--                    {% csrf_token %}-->
<!--                    <input-->
<!--                        type="hidden"-->
<!--                        name="comment_id"-->
<!--                        value="{{comment.comment_id}}"-->
<!--                    />-->


<!--                    <input type="text" name="content" class="form-control" />-->
<!--                    <button type="submit">Reply</button>-->
<!--                </form>-->
<!--            </li>-->

<!--            {% endfor %}-->
								  <tr> <td colspan="2"><h2>comments</h2></h2></td></tr>
                            <tr>
                                <td colspan="2">

                                </td>
                            </tr>

                                  </tbody>
                                </table>
                 {% for comment in data.comment_set.all %}

                                    	<li>
                                            <div class="row comments mb-2">
                                                <div class="col-md-2 col-sm-2 col-3 text-center user-img">
                                                    <img id="profile-photo" src="{{comment.user_id.profile_pic.url}}" class="rounded-circle" />
                                                </div>
                                                <div class="col-md-9 col-sm-9 col-9 comment rounded mb-2">
                                                    <h2 class="m-0"> {{comment.user_id.f_name}} {{comment.user_id.l_name}}</h2>
                                                    <time class="text-white ml-3">1 hours ago</time>
                                                    <like></like>
                                                    <p class="mb-0 text-white">{{comment.content}}.</p>
                                                </div>
                                            </div>
                                        </li>
                                            <a  class="btn btn-primary" data-toggle="modal" data-target="#mymodal{{comment.id}}">comments</a>

                                <div class="modal" id="mymodal{{comment.id}}">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <p class="modal-title">Modal One</p>
                                            </div>
														<li>

															<ul>
																{% for reply in comment.subcomment_set.all %}
																<li>{{reply.comment_content}}</li>

																	<li>
																		<div class="row comments mb-2">
																			<div class="col-md-2 col-sm-2 col-3 text-center user-img">
																		    	<img id="profile-photo" src="{{reply.user_id.profile_pic.url}}" class="rounded-circle" />
																			</div>
																			<div class="col-md-9 col-sm-9 col-9 comment rounded mb-2">
																				<h4 class="m-0"><a href="#">{{reply.user_id.f_name}} {{reply.user_id.l_name}}</a></h4>
																			    <time class="text-white ml-3">1 hours ago</time>
																			    <like></like>
																			    <p class="mb-0 text-white">{{reply.comment_content}}.</p>
																			</div>
																		</div>
																	</li>
																{% endfor %}
															</ul>
															<form action="/comments/reply" method="post" class="m-5">
																{% csrf_token %}
																<input
																	type="hidden"
																	name="comment_id"
																	value="{{comment.id}}"
																/>


																<input type="text" name="content" class="form-control" />
																<button type="submit">Reply</button>
															</form>
															<form action="/projects/comment/report" method="POST">
															 	{% csrf_token %}
															  <input type="hidden" name="id" value="{{comment.id}}" />
															<button type="submit">ReportComment</button>
															</form>

                                            <div class="modal-footer">
                                                <p>CopyRights Reserved to modal Author<span data-dismiss="modal" class="close">&times;</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                    {%endfor%}





						<form action="/projects/comments/add" method="post">
							{% csrf_token %}
						<div class="row comment-box-main p-3 rounded-bottom">

							<div class="col-md-9 col-sm-9 col-9 pr-0 comment-box">

								<input type="text"name="content" class="form-control" placeholder="comment ...." />
							</div>
							<div class="col-md-3 col-sm-2 col-2 pl-0 text-center send-btn">
								<button type="submit" class="btn btn-info">Send</button>
							  <input type="hidden"  name="id"  value="{{data.id}}"/>
							</div>
						</div>
							</form>

				<form action="/projects/project/report" method="POST">
					{%csrf_token%}
			<input type="hidden" name="id" value="{{data.id}}"/>
			<button type="submit">ReportProject</button>
			</form>
			</div>
		</div>
	</div>
{% endblock %}

