{% extends 'registration/base.html' %}
{% load static %}

{% block title %}
Register
{% endblock %}

{% block style %}
<style>
    .errorlist, .errorlist li{
        display: block;
        color: red;
        font-size: 0.9rem;
        margin-top: 200px; /* Add margin-top to separate error messages */
    }
    form>ul, form>ul>li {
        display: block;
    }
    #forgetPass{
        color:#4F4557 !important;
    }
    
</style>
{% endblock %}

{% block body %}
<div class="sign_up_container d-flex"> 
    <div class="leftSide col-5">
        <i class="fa-solid fa-quote-left"></i>
        <h1> Building a Better Future Together! </h1>
    </div>
    <div class="rightSide col-7">
        <img src="{% static 'accounts/images/logo3.svg' %}" width="50" height="50" id="logo"/>
        <h2 class="text-center mb-4">Welcome Back to RallyFund</h2>
        <h3 class="mt-5">Sign in</h3>
        <form method="post" enctype="multipart/form-data" class="d-block my-5" style="margin-left:70px">
            
            {% csrf_token %}
            {% if form.non_field_errors %}
            <ul class="errorlist">
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <p>
                <label for="id_username">Username or Email:</label>
                {{ form.username }}
                {% for error in form.username.errors %}
                    <p class="errorlist">{{ error }}</p>
                {% endfor %}
            </p>
            <p>
                <label for="id_password">Password:</label>
                {{ form.password }}
                {% for error in form.password.errors %}
                    <p class="errorlist">{{ error }}</p>
                {% endfor %}
            </p>
            <p ><a href="{% url "password_reset" %}" style="color:#4F4557 ">Forgotten your password?</a></p>

            <input value="Sign in" type="submit" class="btn mt-1 add">
        </form>
        <span id="already">Didn't have an account? <a href="{% url 'account.register'%}">Sign up</a></span>

    </div>
</div>
{% endblock %}
