{% extends 'registration/base.html' %}
{% load static %}

{% block title %}Password reset{% endblock %}
{% block body %}
<div class="sign_up_container d-flex"> 
    <div class="leftSide col-5">
        <i class="fa-solid fa-quote-left"></i>
        <h1> Building a Better Future Together! </h1>
    </div>
    <div class="rightSide col-7" id="right_reset_complete">
        <img src="{% static 'accounts/images/logo3.svg' %}" width="50" height="50" id="logo"/>
        <h2>Password set</h2>
        <p>Your password has been set. You can <a href="{% url "login" %}">log in now</a></p>
    </div>
</div>

{% endblock %}