{% extends 'registration/base.html' %}
{% load static %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<div class="sign_up_container d-flex"> 
    <div class="leftSide col-5">
        <i class="fa-solid fa-quote-left"></i>
        <h1> Building a Better Future Together! </h1>
    </div>
    <div class="rightSide col-7">
        <img src="{% static 'accounts/images/logo3.svg' %}" width="50" height="50" id="logo"/>
        <div id="right_rest_confirm"> 
            <h2>Reset your password</h2>
            {% if validlink %}
            <p>Please enter your new password twice:</p>
            <form action="." method="post" id="restpass_confirm">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Change my password" class="btn add"/>
            </form>
            {% else %}
            <p>The password reset link was invalid, possibly because it has
            already been used. Please request a new password reset.</p>
            {% endif %}
            </div>
    </div>
</div>

{% endblock %}
