{% extends 'registration/base.html' %}
{% load static %}

{% block title %}Reset your password{% endblock %}
{% block style %}
<style>
  .rightSide form {
  
  }
</style>
{% endblock %}
{% block body %}
<div class="sign_up_container d-flex"> 
    <div class="leftSide col-5">
        <i class="fa-solid fa-quote-left"></i>
        <h1> Building a Better Future Together! </h1>
    </div>
    <div class="rightSide col-7">
        <img src="{% static 'accounts/images/logo3.svg' %}" width="50" height="50" id="logo"/>
        <h2>Forgotten your password?</h2><br>
        <span>Enter your e-mail address to obtain a new password.</span><br><br>
        <form action="." method="post" class="d-block" id="resetform">
            
        {{ form.as_p }}
        <p><input type="submit" value="Send e-mail" class="btn add"></p>
        {% csrf_token %}
        </form>
       
    </div>
</div>
{% endblock %}