{% extends 'registration/base.html' %}
{% load static %}

{% block title %}Reset your password{% endblock %}


{% block body %}
<div class="sign_up_container d-flex"> 
    <div class="leftSide col-5">
        <i class="fa-solid fa-quote-left"></i>
        <h1> Building a Better Future Together! </h1>
    </div>
    <div class="rightSide col-7">
        <img src="{% static 'accounts/images/logo3.svg' %}" width="50" height="50" id="logo"/>

        <div id="restpass_done">
            <h2>Reset your password</h2>
            <p>We've emailed you instructions for setting your password.</p>
            <p>If you don't receive an email, please make sure you've entered the address you registered with.</p>
        </div>
    </div>
</div>
{% endblock %}