{% extends 'registration/base.html' %}

{% load static %}

    <title>{% block title %}Register {% endblock %}</title>



{% block body %}
<div class="sign_up_container d-flex"> 
    <div class="leftSide col-5">
        <i class="fa-solid fa-quote-left"></i>
       <h1> Building a Better Future Together! </h1>
    </div>
    <div class="rightSide col-7">
     <img src="{% static 'accounts/images/logo3.svg' %}" width="50" height="50" id="logo"/>
     <h2 class="text-center mb-5">Welcome to RallyFund</h2>
     <h3 class="" >Create An Account</h3>
    <form method="post"  enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
               <label> {{ field.label }}<label>
                {{ field }}
                {% for error in field.errors %}
                    <p class="errorlist">{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}
    
        
            <input value="Sign up" type="submit" class="btn mt-3 add">
    </form>
    <span id="already">Already have an account? <a href="{% url 'login'%}">Sign in</a></span>

    </div>
</div>
{% endblock %}

