<!-- delete_account_confirm.html -->

{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h2>Delete Account</h2>
            <p>Are you sure you want to delete your account?</p>
            <form method="post">
                {% csrf_token %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                {{ password_form.as_p }}
                <button type="submit" class="btn btn-danger">Delete Account</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}