{% extends "layout/bases.html" %}
{% block title %}
   project images
{% endblock %}
{% block content %}

    <style>
        .comment-container {
            margin-top: 20px;
        }
        .comment {
            margin-bottom: 20px;
            border: 1px solid #ccc;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        }
        .comment .content {
            font-size: 16px;
        }
        .comment .author {
            font-size: 14px;
            color: #666;
            margin-top: 5px;
        }
        .comment .delete-btn {
            margin-top: 10px;
            background-color: #f44336;
            color: white;
            border: none;
            padding: 8px 12px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            border-radius: 4px;
            cursor: pointer;
            transition-duration: 0.4s;
        }
        .comment .delete-btn:hover {
            background-color: #555;
        }
    </style>
    <h2 class="my-3" style="color: #4F4557;">All Replies</h2>
    <a href="{% url 'add_reply' %}" class="btn text-light" style="background-color: #4F4557;"> Add reply </a>
    <div class="comment-container">
        {% for reply in replies %}
            <div class="comment">
                <p class="content">Reply: {{ reply.content }}</p>
                <p class="author">Author: {{ reply.user }}</p>
                <form action="{% url 'delete_reply' reply.id reply.comment.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="delete-btn">Delete</button>
                </form>
            </div>
        {% empty %}
            <p>No replies available.</p>
        {% endfor %}
    </div>
{% endblock %}
