{% extends "layout/bases.html" %}
{% block title %}
   Project Images
{% endblock %}
{% block content %}

<div class="container">
    <h2 class="my-3" style="color: #4F4557;">Project Images</h2>
    <a href="{% url 'add_image' project.id %}" class="btn text-light mb-3" style="background-color: #4F4557;">Add Image</a>
    <div class="row">
        {% for image in images %}
        <div class="col-md-3">
            <div class="card mb-4 shadow-sm">
                <img height="300px" src="{{ image.img.url }}" class="card-img-top" alt="Project Image">
                <div class="card-body">
                    <h5 class="card-title">Project Image</h5>
                    <form action="{% url 'delete_image' image.id project.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
