{% extends 'layout/bases.html' %}
{% load static %}

{% block content %}
<style>
    .table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }
    .table th, .table td {
        border: 1px solid #aaaaaa;
        padding: 8px;
        text-align: left;
    }
    .table th {
        background-color: #ddd; /* Light blue background */
    }
    .table img {
        max-width: 200px;
        max-height: 200px;
    }
    .btn-info {
        background-color: #4da6ff; /* Blue background */
        color: white;
        padding: 6px 12px;
        border-radius: 4px;
        text-decoration: none;
    }
    .btn-info:hover {
        background-color: #007bff; /* Darker blue background on hover */
    }
</style>


    <h2 class="my-3" style="color: #4F4557;">Project List</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>User</th>
                <th>Project Details</th>
                <th>Total Target</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Category</th>
                <th>Project Show</th>
                <th>Is Reported</th>
                <th>Featured</th>
                <th>Tags</th>
                <th>Show</th>
                <th>Image</th>
                <th>Comments</th>
                <th>Featured</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <td>{{ project.project_title }}</td>
                <td>{{ project.user }}</td>
                <td>{{ project.project_details }}</td>
                <td>{{ project.total_target }}</td>
                <td>{{ project.start_time }}</td>
                <td>{{ project.end_time }}</td>
                <td>{{ project.category }}</td>
                <td>{{ project.project_show }}</td>
                <td>{{ project.is_reported }}</td>
                <td>{{ project.featured }}</td>
                <td>
                    <ul>
                        {% for tag in project.tags.all %}
                        <li><p>{{ tag.tag_name }}</p></li>
                        {% endfor %}
                    </ul>
                </td>
                <td><a href="{% url 'project_detail' project.id %}" class="btn btn-primary">Show</a></td>
                <td><a href="{% url "show_image" project.id  %}" class="btn text-light" style="background-color: #4F4557; ">Images</a></td>
                <td><a href="{% url "show_comments" project.id  %}" class="btn text-light" style="background-color: #4F4557; ">Comments</a></td>
                <td>
                    <form method="post" action="{% url 'toggle_featured' project.id %}">
                        {% csrf_token %}
                        <input type="checkbox" id="featured" name="featured" {% if project.featured %}checked{% endif %}>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
