{% extends "layouts/base.html" %}
{% block title %}Edit Project: {{ category.name }}{% endblock %}

{% block content %}
<style>
    input[type="text"],
    input[type="number"],
    textarea,
    select{
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }


</style>

<div class="container">
    <h1>Edit Project</h1>
    <form method="post">
        {% csrf_token %}
        {{form}} 
        <br>
        <button class="btn" style="background-color: #4F4557;color:white;width: 100%; ">Save Changes</button>
    </form>
</div>
{% endblock %}
