{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="card cafe-background"> <!-- Added custom class 'cafe-background' -->
        <div class="card-body" >
            <h1>User Projects</h1>
            <div class="row my-5">
                <div class="col-md-12">
                    <ul class="nav nav-tabs" id="myTab" role="tablist" style="background-color: #4F4557;">
                        <li class="nav-item" >
                            <a class="nav-link" id="home-tab" href="{% url 'account.profile' %}" role="tab" aria-controls="home" aria-selected="true">About</a>
                            <a class="nav-link" id="home-tab" href="{% url 'userProjects' request.user.id %}" role="tab" aria-controls="home" aria-selected="true">projects</a>
                            <a class="nav-link" id="home-tab" href="{% url 'user_donations' request.user.id %}" role="tab" aria-controls="home" aria-selected="true">donations</a>
                        </li>
                    </ul>
                  </div>
                  </div>
                  <div class="row">
                    {% if projects %}
                {% for project in projects %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title"><strong>Title: </strong>{{ project.project_title }}</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text"><strong>Details: </strong>{{ project.project_details }}</p>
                                <p class="card-text"><strong>Start Date:</strong> {{ project.start_time }}</p>
                                <p class="card-text"><strong>End Date:</strong> {{ project.end_time }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% else %}
                    <div class="col-md-12">
                        <p class="alert alert-warning">This user has no projects yet.</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
