{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<h2 style="text-align: center">{{ category.name }}</h2>
<h5 class="card-title" style="text-align: center; margin-bottom: 80px;">{{ category.description }}</h5>

<div class="row" style="text-align: center">
    {% for project in category.allprojects.all %}
    <div class="col-md-3 mb-3">
        <div class="card baby-blue-card">
            <div class="card-body">
                {% for image in project.images_set.all %}
                <img class="d-block w-100" src="{{ image.img.url }}" alt="Project Image">
                {% endfor %}                
                <h5 class="card-title"style="margin-bottom: 12px;" >{{ project.project_title }}</h5>
                <a href="{{ project.show_url }}" class="btn btn-primary">Show More</a>
            </div>
        </div>

    </div>
    {% empty %}
    <p>No projects in this category yet.</p>
    {% endfor %}
</div>
<style>
    .baby-blue-card {
        background-color: #B0E0E6; /* Baby blue color */
    }
</style>
{% endblock %}
